<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">



<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link rel="stylesheet" href="/css/style.css">

	<link type='text/css' rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





	<!------ Include the above in your HEAD tag ---------->

	<title>Inserir Alunos</title>

</head>





<body>

	<footer class="bg-primary text-center text-lg-start">

		<div>

			<!-- Copyright -->

			<div class="text-center p-3" style="color: #fff; font-weight: bold;">

				© 2023 Copyright: SENAC

			</div>

	</footer>

</body>



</html>